@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --background: 0 0% 100%;
  --foreground: 210 52% 24%;
  --card: 0 0% 100%;
  --card-foreground: 210 52% 24%;
  --popover: 0 0% 100%;
  --popover-foreground: 210 52% 24%;
  --primary: 210 52% 24%;
  --primary-foreground: 0 0% 100%;
  --secondary: 355 69% 42%;
  --secondary-foreground: 0 0% 100%;
  --muted: 210 20% 96%;
  --muted-foreground: 210 15% 40%;
  --accent: 51 100% 50%;
  --accent-foreground: 210 52% 24%;
  --destructive: 355 69% 42%;
  --destructive-foreground: 0 0% 100%;
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 210 52% 24%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
